.doc-content table {
  border: 1px solid $gray;
  th {
    text-align: center;
    background-color: lightgray;
  }
  th, td {
    padding: 5px;
    border: 1px solid $gray;
  }
  margin-bottom: 0.5rem;
}

.unit-resource h2, .module-unit h2 {
  color: rgb(20,75,240);
}

.unit-resource h2 {
  text-shadow: 1px 3px 4px gray;
}

.unit-resource h3, .module-unit h3 {
  color: rgb(20,160,240)
}

.unit-resource h3 {
  text-shadow: 1px 3px 6px lightgray;
}

.make-file {
  display: inline-block;
  @extend code;
  border: 1px lightslategray solid;
  border-radius: 4px;
  background-color: $gray-300 !important;
  color: $primary !important;
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.4rem;
  // font-weight: bold !important;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);

  &:before {
    content: "📄️";
    padding-right: 0.4em;
    font-size: 1.5em;
    display: inline-block;
  }
}

*:not(pre) > code {
  color: #ac2323;
  background-color: #eee;
  overflow-x: auto;

  padding: 0.1em 0.5em;
}

*:not(h1,h2,h3) > code {
  font-size: 0.9rem;
}

.livecode-img-wrapper img {
  max-width: 400px;
  margin: 10px auto;
  display: inherit;
}

pre code {
  border-radius: 4px;
}

.resource-link, .resource-link a {
  font-weight: bold;
  color: white;
}
