@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

// Favourite dark themes:
@import 'highlight.js/scss/agate';
// @import 'highlight.js/scss/atom-one-dark';
// @import 'highlight.js/scss/railscasts';


// Favourite light themes:
// @import 'highlight.js/scss/vs2015';



// @import 'highlight.js/styles/github';
// @import 'highlight.js/styles/foundation';
// Brown & black on pale gray/pink
// @import 'highlight.js/styles/docco';
// White & turquoise on dark blue background
// @import 'highlight.js/styles/far';
// light blue, dull white on very dark gray
// @import 'highlight.js/styles/hybrid';
// @import 'highlight.js/scss/monokai-sublime';
// @import 'highlight.js/scss/vs';

$gray: #222;

@import './unit.scss';
@import './resource.scss';

.doc-content {
  min-height: 100vh;
  margin-bottom: 400px;
}

.navbar {
  margin-bottom: 10px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.navbar-light {
  background-color:  #e3f2fd;
}

a {
  text-decoration: none;
}

#accordionIndex h2 button {
  font-size: 1.2rem;
}

#accordionIndex .accordion-body {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

