PORT=3000
USER_EMAIL=
USER_PASSWORD=
SESSION_SECRET=
MODULE_MANIFEST_PATH=data/modules.yaml
MODULE_DATA_PATH=data
MODULE_DATA_HOST_PATH=data
DISABLE_AUTH=true
VERSION_INFO_FILE_PATH=version-info.yaml
