<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/client/dist/main.css">
  <title>
    {% block title %}
      {{ title | d('LWTC') }}
    {% endblock %}
  </title>
</head>
<body class="h-100 d-flex flex-column">
  <nav class="navbar sticky-top navbar-light">
    <div class="container-fluid">
      <div>
      <a class="navbar-brand back-button" href="#">
        <i class="bi bi-chevron-left"></i>
      </a>
      <a class="navbar-brand" href="/">
        <i class="bi bi-house"></i> Home
      </a>
      </div>
      {% if signedIn %}
        <a href="/auth/logout">
          <i class="bi bi-door-closed"></i> Sign out
        </a>
      {% else %}
        <a href="/auth/login">
          <i class="bi bi-door-open"></i> Sign in
        </a>
      {% endif %}
    </div>
  </nav>
  <div class="container flex-shrink-0 doc-content">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
  {% block footer %}
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>
  {% endblock %}
  <script type="text/javascript" src="/client/dist/main.js"></script>
</body>
</html>
