{% extends "default.njk" %}

{% block content %}
<h1 class="text-center">Modules</h1>
  {% for module in modules.data %}
    <h3>{{ module.name }}</h3>
    <ul>
    {% for unit in module.units %}
      {% set url = modules.buildUnitURL(module, unit) %}
      <li><a href="{{ url }}">{{ unit.name }}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
