{% extends "base.njk" %}

{% block body %}
  {% include 'nav.njk' %}
  <div class="container doc-content">
    {% if flashes %}
      {% include 'flashes.njk' %}
    {% endif %}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock %}
