{% extends "page.njk" %}

{% block content %}
<div class="module-unit"
     data-unit-id="{{ unit.id }}"
     data-module-id="{{ unit.module.id }}">
  <div class="content"></div>
</div>
{% endblock %}
